<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Result</title>
</head>

<body>
    <h1>Result</h1>
    <div>
        <% items.forEach(function(image) { %>
            <div>
                <div>
                    <img src="data:image/<%=image.img.contentType%>;base64,
					<%=image.img.data.toString('base64')%>" />
                    <div>
                        <h5>
                            <%= image.name %>
                        </h5>

                        <p>
                            <%= image.desc %>
                        </p>
                        <p>
                            <%= image.tag %>
                        </p>
                    </div>
                </div>
            </div>
            <% }) %>
    </div>
</body>

</html>