<%- include('partials/header'); -%>


    <body>
        <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
            <div class="container-fluid">

                <a class="navbar-brand" href="#">
                    <img src=" https://s3.eu-central-1.amazonaws.com/bootstrapbaymisc/blog/24_days_bootstrap/logo_white.png " width="30 " height="30 " alt="logo "> Bs-Wallpaper
                </a>

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
                    <span class="navbar-toggler-icon "></span>
                </button>
                <div class="collapse navbar-collapse " id="mynavbar">
                    <ul class="navbar-nav me-auto ">
                        <li class="nav-item ">
                            <a class="nav-link " href="javascript:void(0) " data-bs-toggle="modal" data-bs-target="#Modal">Upload Wallpaper</a>
                        </li>

                    </ul>
                    <form class="d-flex" action='/search' method="POST" enctype="multipart/form-data">
                        <input class="form-control mr-2 " type="search" placeholder="Search wallpapers... " aria-label="Search" style="margin-right:8px;">
                        <button class="btn btn-success " type="submit">search<i class="fa fa-search" aria-hidden="true"></i></button>
                    </form>
                </div>
            </div>
        </nav>



        <!-- Modal -->
        <div class="modal fade" id="Modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Upload Wallpaper</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form action="/upload " method="POST" id="uploadForm" enctype="multipart/form-data">


                            <div class="form-floating  mt-3 mb-3">

                                <input type="text" id="name" name="name" placeholder="Enter password" class="form-control" required>
                                <label for="name">Image Title</label>
                            </div>


                            <div class="form-floating  mt-3 mb-3">

                                <input type="text" id="tag" name="tag" placeholder="Enter password" class="form-control" required>
                                <label for="tag">Tag</label>
                            </div>
                            <br>
                            <div class="form-outline mb-4">
                                <textarea class="form-control" id="form4Example3" id="desc" name="desc" value="" rows="2" placeholder="Image Description" rows="4 "></textarea>
                            </div>


                            <div class="input-group ">
                                <div class="custom-file ">
                                    <input id="image" type="file" name="image" class="file-loading" required>
                                </div>
                            </div>
                            <br>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" id="sub">upload</button>
                    </div>
                </div>
            </div>
        </div>
        <script type="text/javascript">
            $("#sub").click(function() {
                $("uploadForm").submit()
            })
        </script>
        <div class="container ">
            <div class=" ">
                <div class=" col-md-offset-4 ">

                    <div class="fh5co-form animate-box form " data-animate-effect="fadeIn ">

                        <h1>Wallpapers</h1>
                        <div>
                            <% items.forEach(function(image) { %>
                                <div>
                                    <div>
                                        <img src="data:image/<%=image.img.contentType%>;base64, <%=image.img.data.toString('base64')%>" />
                                        <div>
                                            <h5>
                                                <%= image.name %>
                                            </h5>

                                            <p>
                                                <%= image.desc %>
                                            </p>
                                            <p>
                                                <%= image.tag %>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <% }) %>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </body>

    </html>